@font-face {
  font-family: "jurassic";
  src: url("../../font/Jurassic_Park.ttf");
}

.App {
  text-align: center;
}
body {
  background-image: url(../../img/trexChase.png);
  background-size: 100%;
  background-attachment: fixed;
  /* background-repeat: no-repeat;
   */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiPaper-root {
  background-color: rgba(217, 143, 112, 0.76) !important;
}

.MTableHeader-header-13 {
  background-color: rgba(217, 143, 112, 0.98) !important;
}

.MuiTypography-h6 {
  font-family: "jurassic" !important;
  font-size: 6rem !important;
}

.MuiTableCell-root {
  font-weight: bold !important;
}

.MuiTableCell-head {
  font-weight: bold !important;
}
